*.class
.classpath
.project
.settings
target

# Package Files #
*.war
*.ear
/bin/

### JetBrains
*.iml

## Directory-based project format:
.idea/

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/